[Desktop Entry]
Type=Application
Exec=alea
Icon=/usr/share/icons/lliurex/apps/48/alea.png
MimeType=application/x-alea-quiz;
Terminal=false
Name=Alea
Name[ca]=Alea
Name[ca@valencia]=Alea
Name[en_GB]=Alea
Name[es]=Alea
Categories=Qt;KDE;Classroom;
X-DBUS-ServiceName=net.lliurex.alea
